<link rel="stylesheet" href="/stylesheets/index.css">
<script defer bsrc="/js/index.js"></script>


<body>
  <h1>
    Welcome, {{user.username}}
  </h1>
  {{>navbar}}


  <div class="container">
    <div class="wrap">
      <canvas id="sakura"></canvas>
    </div>



  </div>

</body>
